.display-4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Jumbotron {
  padding-top: 2rem;
  
}

.lead{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
}

.display-5{
  font-family: Myriad pro Condensed; 
}

.fs-4{
  font-family: Myriad pro Condensed; 
}
